<h1><%= @store.id ? 'Edit Store' : 'Create Store' %></h1>
<hr />
<%= form_for [@store] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true, autofocus: true %>
  <%= f.submit %>
<% end %>
