<!DOCTYPE html>
<style>
body{
  color: teal;
  background-color: pink;
}
</style>
<html>
  <head>
    <title>TheMall</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 
    <%= yield %>
  </body>
  <audio src="music.mp3" autoplay controls loop>
  <p>Your browser does not support HTML5 audio playback</p>
</audio>
</html>
